h2 {
  color: grey;
}
.MainBody {
  border: 2px solid black;
  border-radius: 5px;
  width: 64%;
  margin: 0 auto;
  padding: 5px;
}
.controls {
  margin-left: 50px;
}
input {
  border: 1px solid grey;
  border-radius: 2px;
  padding: 5px;
}
#btnSubmit {
  color: white;
  background-color: #f98858;
  text-align: right;
  height: 40px;
  width: 100px;
  text-align: center;
  border: 1px solid #f98858;
  border-radius: 2px;
}
.submit {
  text-align: right;
  padding-right: 100px;
}
